@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand";
}

body {
  margin: 0px;
  background-color: whitesmoke;
}

/*Home Navigation Styles*/
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar h1 {
    display: block;
    margin: 10px 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
  .navbar h1 {
    display: none;
  }
}

.heading a {
  text-decoration: none;
  cursor: pointer;
  color: #ff6600;
}
.navbar {
  background-color: #0099ff67;
  padding: 6px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #b1b1b1;
}

.navbar h1 {
  color: #ff6600;
}
.navbar .links {
  margin-left: auto;
}
.nav-links a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ff6600;
}
.content {
  text-align: center;
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/*Dashboard Navigation Styles*/
.welcome-note {
  display: flex;
  justify-content: center;
}

/*Authentication Styling*/
.form-center {
  border-radius: 30px;
  padding: 20px;
  margin: 30px auto;
  max-width: 320px;
  text-align: center;
}

.addform-center {
  padding: 20px;
  margin: 30px auto;
  max-width: 650px;
  text-align: center;
}

.form-center label,
.addform-center label {
  text-align: left;
  display: block;
}
.form-center h2,
.addform-center h2 {
  border-bottom: 3px solid #0099ff67;
  font-size: 28px;
  color: #ff6600;
  margin: 30px 0px;
}

.form-below {
  display: flex;
  justify-content: space-evenly;
}
.form-below a {
  color: #ff6600;
  text-decoration: none;
}
.form-below a:hover {
  color: black;
  text-decoration: underline;
}

.form-center input,
.form-center textarea,
.addform-center input,
.addform-center textarea {
  resize: vertical;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.form-center button,
.addform-center button {
  margin: 10px 0px;
  background: #0099ff67;
  color: #ff6600;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.form-center button:hover,
.addform-center button:hover {
  box-shadow: 0px 0px 10px 2px #ff6600;
}
.login-err-msg {
  color: red;

  box-shadow: 0px 0px 5px 1px red;
}

/*All Blog Styling*/
.main-page-blogs {
  margin: 30px auto;
  text-align: center;
}
.main-page-blogs button {
  background-color: transparent;
  border-width: 0px;
}

.blog-preview {
  animation: flipInX;
  animation-duration: 1.5s;
  transition: 0.7s;
}

@media (min-width: 768px) {
  .blog-preview {
    padding: 10px 16px;
    margin: 20px 30px;
    border-bottom: 1px solid #d3d3d3;
  }
}

@media (max-width: 768px) {
  .blog-preview {
    padding: 10px 16px;
    margin: 20px 10px;
    border-bottom: 1px solid #d3d3d3;
  }
}

.blog-preview:hover {
  cursor: pointer;
  box-shadow: -2px 4px 5px #0099ff67;
  transform: scale(1.12);
}
.blog-preview h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #ff6600;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/*Blog Detail Styling*/

@media (min-width: 768px) {
  .blog-details {
    padding: 10px 16px;
    margin: 20px 30px;
    border-bottom: 1px solid #d3d3d3;
  }
}

@media (max-width: 768px) {
  .blog-details {
    margin: 20px 10px;
  }
}
.blog-details h2 {
  font-size: 27px;
  color: #ff6600;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #ff6600;
  font-weight: bold;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details button:hover {
  box-shadow: 0px 0px 10px 2px #0099ffc9;
}
