.user-profile {
  animation: flipInX ease-in;
  animation-duration: 2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px auto;
}

.user-profile img {
  max-width: 250px;
}
.user-deatil {
  align-self: center;
}
